

.containaer-OrderList {
    font-family: "Cairo", system-ui !important;
    padding: 70px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card-OrderList {
    width: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 20px  rgba(0, 0, 0, 0.1);
    padding: 15px 5px;
    
    border-radius: 8px;
}

ul {
    list-style-type: none; /* Removes bullets */
    padding: 0;            /* Removes default padding */
    margin: 0;             /* Removes default margin */
  }

  .delete-button {
    width: 90%;
  }
  
  .Name {
    color: #1e6a9b;
  }

  .con-totall {
    width: 100%;
    display: grid;
    place-items: center;
  }

  .totall {
     border-radius: 8px;
      padding: 10px;
      width: 80%;
      background-color: #fff;
      box-shadow: 5px 5px 20px  rgba(0, 0, 0, 0.1);
  }
  .totall h2 {
    color: #1e6a9b;
  }

  .con-call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .included {
    font-size: 12px;
  }
  .order-total {
    font-size: 18px;
    color: red;
  }

  @media (max-width:767px) {
    .totall {
        width: 95%;
    }
    .delete-button {
       height: 44px;
    }
    
  .btn-call-to-action {
    margin-top: 27px;
    width: 156px;
    font-size: 12px;
  }
  }


  /* From Uiverse.io by Dev-MdTuhin */ 
.checkbox-wrapper-10 .tgl {
  display: none;
}

.checkbox-wrapper-10 .tgl,
  .checkbox-wrapper-10 .tgl:after,
  .checkbox-wrapper-10 .tgl:before,
  .checkbox-wrapper-10 .tgl *,
  .checkbox-wrapper-10 .tgl *:after,
  .checkbox-wrapper-10 .tgl *:before,
  .checkbox-wrapper-10 .tgl + .tgl-btn {
  box-sizing: border-box;
}

.checkbox-wrapper-10 .tgl::-moz-selection,
  .checkbox-wrapper-10 .tgl:after::-moz-selection,
  .checkbox-wrapper-10 .tgl:before::-moz-selection,
  .checkbox-wrapper-10 .tgl *::-moz-selection,
  .checkbox-wrapper-10 .tgl *:after::-moz-selection,
  .checkbox-wrapper-10 .tgl *:before::-moz-selection,
  .checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-10 .tgl::selection,
  .checkbox-wrapper-10 .tgl:after::selection,
  .checkbox-wrapper-10 .tgl:before::selection,
  .checkbox-wrapper-10 .tgl *::selection,
  .checkbox-wrapper-10 .tgl *:after::selection,
  .checkbox-wrapper-10 .tgl *:before::selection,
  .checkbox-wrapper-10 .tgl + .tgl-btn::selection {
  background: none;
}

.checkbox-wrapper-10 .tgl + .tgl-btn {
  outline: 0;
  font-size: 10px;
  display: block;
  width: 40px;
  height: 20px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:after,
  .checkbox-wrapper-10 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:after {
  left: 0;
}

.checkbox-wrapper-10 .tgl + .tgl-btn:before {
  display: none;
}

.checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02C66F;
  transform: rotateY(-180deg);
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #7FC6A6;
}

.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}


.div-con-call-res {
  display: flex;
  justify-content: center;
 flex-wrap: wrap;
  align-items: center;
  gap: 3px;
}